<?xml version='1.0' encoding='utf-8'?>
<widget id="com.transparencyinteractive.freestyleking" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FreestyleKing</name>
    <description>
        FreestyleKing, the best rap app on the market
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>


    <plugin name = "cordova-plugin-whitelist" source="npm" spec="1.3.3"/>
    <allow-navigation href="*" />
    <content src="index.html" />
    <access origin="*" />
</widget>
