<?xml version='1.0' encoding='utf-8'?>
<widget id="com.transparencyinteractive.freestyleking" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FreestyleKing</name>
    <description>
        FreestyleKing, the best rap app on the market
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>


<platform name="android">
<icon density="ldpi" src="res/icons/android/ldpi.png"/>
<icon density="mdpi" src="res/icons/android/mdpi.png"/>
<icon density="hdpi" src="res/icons/android/hdpi.png"/>
<icon density="xhdpi" src="res/icons/android/xhdpi.png"/>
<icon density="xxhdpi" src="res/icons/android/xxhdpi.png"/>
<icon density="xxxhdpi" src="res/icons/android/xxxhdpi.png"/>
<!--  Portrait  -->
</platform>


    <plugin name = "cordova-plugin-whitelist" source="npm" spec="1.3.3"/>
    <allow-navigation href="*" />
    <content src="index.html" />
    <access origin="*" />
</widget>
